:root {
  --color-background: #0f172a;
  --color-surface: #1e293b;

  --color-primary: #7c3aed;
  --color-primary-hover: #2563eb;

  --color-text: #f8fafc;
  --color-text-muted: #94a3b8;

  --color-border: #334155;

  --spacing-sm: 5px;
  --spacing-lg: 14px;
}
